body {
    background: #5564eb;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 80%;
    height: 350px;
    background-color: transparent;
    margin: 15px 12%;
}

.caja1 img{
    width: 30%;
    height: 280px;
    float: left;
    margin: 5px;
}

.caja2 img{
    width: 30%;
    height: 280px;
    float: left;
    margin: 5px;
}

.caja3 img{
    width: 30%;
    height: 280px;
    float: left;
    margin: 5px;
}